body {
    font-family: Roboto, serif;
    font-weight: bold;
    font-size: 16px;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    height: 50px;
}

table {
    width: 95%;
    margin: 10px;
    text-align: center;

    border-collapse:collapse;
    border:solid #d48bd9 3px;
    border-radius:20px;
}

tr:hover {background-color: #f5f5f5;}

th {
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d48bd9;
    color: white;
}

td:first-child, th:first-child {
    border-left: none;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

th, td {
    border-bottom: 2px solid #d48bd9;
}

.lds-dual-ring {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 6px solid #d48bd9;
    border-color: #d48bd9 transparent #d48bd9 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg)  scale(1.4);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.center_form {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}

.analyze_btn_loading {
    position: relative;
    margin: 7px;
    display: none;
}

.stab_result {
    margin: 15px;
}

.stab_image {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.result_content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.chart {
    border-radius: 20px;
    height: 150px;
    width: 90%;
}
