.stab_text {
    margin: 5px;
    vertical-align: middle;
    color: #d48bd9;
}

.column_id, .column_formula {
    color: #c88dcc;
}

.simulation_text {
    margin-right: 5px;
    text-align: center
}