.stab_text {
    margin: 5px;
    vertical-align: middle;
    color: #d48bd9;
}

.column_id, .column_formula {
    color: #c88dcc;
}

.simulation_text {
    margin-right: 5px;
    text-align: center
}

.info {
    color: #ba4ec2;
    width: 90%;
    text-align: center;
    margin-left: 10px;
}