.stab_text {
    margin: 5px;
    vertical-align: middle;
    color: #d48bd9;
}

.column_id, .column_formula {
    color: #c88dcc;
}

.result_content{

    font-family: Roboto, serif;
    font-weight: bold;
    font-size: 16px;

    padding-top: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}