<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>BioStabAnalyzer</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkbox.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/inputs.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/text.css}">
</head>

<body>

<span id="vars_size" hidden th:text="${vars.size()}"></span>

<table id="vars_table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Formula</th>
        <th>From</th>
        <th>To</th>
        <th>Block</th>
        <th>Value</th>
    </tr>
    <tr th:each="variable : ${vars}">
        <td class="column_id" th:text="${variable.id}"></td>
        <td th:text="${variable.name}"></td>
        <td class="column_formula" th:text="${variable.formula}"></td>
        <td th:text="${variable.rangeFrom}"></td>
        <td th:text="${variable.rangeTo}"></td>
        <td>
            <label class="container">
                <input type="checkbox" class="checkbox" th:checked="${variable.blocked}" th:id="${variable.id} + '@block_cb'" onclick="checkbox(this)">
                <span class="checkmark"></span>
            </label>
        </td>
        <td><input class="value_input" type="number" th:disabled="${!variable.blocked}" th:id="${variable.id} + '@block_value'" th:value="${variable.value}" onchange="unlock_analyze_button()" style="width: 100px"></td>
    </tr>
</table>

<div class="center_form">
    <div class="analyze_btn_div">
        <form id="block_var_form" action="/block_var" method="get">
            <input name="vars" type="text" id="block_var_data" hidden="hidden" value="">
            <button class="analyze_button" disabled id="block_var_button" type="submit" onclick="analyze()">Analyze</button>
        </form>
    </div>
    <div class="stab_result" th:if="${stab != null}">
        <img class="stab_image" th:src="${stab == 'Stabilizing'} ? 'https://biomodelanalyzer.org/images/analysis/BMA_Stable_Icon.svg' : 'https://biomodelanalyzer.org/images/analysis/BMA_Unstable_Icon.svg'" alt="">
        <span class="stab_text" th:text="${stab}"></span>
    </div>
    <div id="loading_wheel" class="analyze_btn_loading">
        <div class="lds-dual-ring"></div>
    </div>
</div>

<div th:hidden="${stab == null}" id="result_chart" class="result_chart">
    <button type="button" class="collapsible">Simulate result</button>
    <div class="result_content">
        <div class="simulation_controls">
                <div class="simulation_text">Input number of simulation steps: </div>
                <button id="btn_steps_less" class="round_btn" onclick="less_steps()">-</button>
                <input id="input_steps" class="simulation_input" type="number" value="10" onchange="check_steps()">
                <button id="btn_steps_more" class="round_btn" onclick="more_steps()">+</button>
                <button class="analyze_button" id="btn_simulate" type="submit" onclick="simulate()">Simulate</button>
        </div>
        <canvas id="chart" class="chart"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>

</html>